<style>
/********** Base styles **********/
* {
  box-sizing: border-box;
}

body
{
  font-family: verdana,arial,helvetica,sans-serif;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 175%;
}

p {
  margin: 16px;
  margin-top: 60px;
}

.container {
  background-color: gray;
  border: 1px solid black;
  width: 90%;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}

.sec-tag {
  border: 1px solid black;
  text-align: center;
  float: right;
  clear: both;
  margin: 0;
  margin-bottom: 8px;
  padding: 5px;
  font-size: 125%;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}

</style>